{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <title>Resume Uploader</title>
</head>
<style>
  #id_gender{
    list-style-type: none;
    display: inline-flex;
  }

  #id_gender_0, #id_gender_1, #id_gender_2{
    margin-left: 10px;
  }

  #id_skills{
    font-size: small;
  }
</style>
<body>
 <div class="container mb-5">
  <h2 class=" alert alert-success text-center mt-1" style=" font-family: Lucida Console, Courier New, monospace;">Resume Builder</h2>
  <div class="row">

   <div class="col-sm-8">

    <form action="" method="POST" enctype="multipart/form-data" class="shadow p-5"> 
     {% csrf_token %}
      <!-- displays messages -->
     {% for message in messages %}  
     <div id="msg" class="alert alert-info alert-dismissable p-1">
     <button type="button" class="close" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
     <small style="color: green;"> {{message}} </small>
     </div>
     {% endfor %}

     <!-- displays forms -->
     {% for fm in form %}
       <div class="form-group mb-3">
       {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
       </div>
     {% endfor %}

     <input type="submit" class="btn btn-success" value="Create">  <!-- Create button-->

     <!-- displays error messages on form -->
     {% if form.non_field_errors %}
       {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
       {% endfor %}
     {% endif %}
    </form>
  </div>

   <div class="col-sm-4">
    <h4 class=" alert alert-primary text-center" style=" font-family: Lucida Console, Courier New, monospace;">View Resumes</h4> 
    
    {% if resume %}
      {% for resume in resume %}
        <a href="{% url 'resume' resume.id %}"><h6  class=" alert alert-success text-center ">{{resume.name}}</h6></a>  <!-- Resume view link-->
        <form action="{% url 'delete' resume.id %}" method="POST">
          {% csrf_token %} 
        <h6 class="alert alert-danger text-center p-0" ><input type="submit" class="btn" value="Delete"></h6> <!-- Delete button-->
        </form>
        <hr>
      {% endfor %}
    {% else%}
      <h4 class="alert alert-danger text-center p-0", style=" font-family: Lucida Console, Courier New, monospace;">Empty</h4>  <!-- Empty message if no resumes-->
    {% endif %}
   </div>
  </div>
 </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
   $( function() {     //for calender
     $( "#datepickerfrom").datepicker();
     $( "#datepickerto").datepicker();
   } );

    setTimeout( function() {    //for auto hide message 
        jQuery('#msg').hide();
    }, 4000 );

  </script>
</body>
</html>